.mail-cloud-inbox-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.mail-cloud-inbox-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  background-color: #F1F3F9;
}
.mail-cloud-inbox-container02 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
  background-color: #F1F3F9;
}
.mail-cloud-inbox-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  border-color: #dae0ea;
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
}
.mail-cloud-inbox-container04 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mail-cloud-inbox-text {
  font-size: 0.625rem;
}
.mail-cloud-inbox-text01 {
  font-size: 0.625rem;
}
.mail-cloud-inbox-container05 {
  flex: 0 0 auto;
  width: 200px;
  height: 33px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-border-border);
  border-width: 1px;
  padding-left: var(--dl-space-space-p20);
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.mail-cloud-inbox-text02 {
  color: var(--dl-color-primary-text-hell);
  font-size: 12px;
}
.mail-cloud-inbox-container06 {
  gap: 30px;
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-p20);
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.mail-cloud-inbox-top-titel-component {
  gap: var(--dl-space-space-g20);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-g10);
  background-color: var(--dl-color-background-background_4);
}
.mail-cloud-inbox-container07 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.mail-cloud-inbox-container08 {
  gap: var(--dl-space-space-g5);
  display: flex;
  align-items: flex-start;
}
.mail-cloud-inbox-text03 {
  font-size: 1.625rem;
}
.mail-cloud-inbox-text04 {
  font-size: 1.625rem;
}
.mail-cloud-inbox-navlink {
  color: var(--dl-color-primary-lila);
  font-size: 1.625rem;
  text-decoration: none;
}
.mail-cloud-inbox-container09 {
  gap: var(--dl-space-space-g20);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.mail-cloud-inbox-container10 {
  gap: var(--dl-space-space-g15);
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
}
.mail-cloud-inbox-container11 {
  width: 345px;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  border-color: var(--dl-color-border-border);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.mail-cloud-inbox-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  box-shadow: 0px 3px 3px 0px rgba(212, 212, 212, 0.14);
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
}
.mail-cloud-inbox-text05 {
  color: rgb(18, 38, 63);
  line-height: 16.5px;
}
.mail-cloud-inbox-container13 {
  width: 100%;
  display: flex;
  overflow: scroll;
  align-items: flex-start;
  flex-direction: column;
}
.mail-cloud-inbox-container14 {
  gap: var(--dl-space-space-g20);
  width: 100%;
  cursor: pointer;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-p20);
  transition: 0.1s;
  align-items: flex-start;
  flex-direction: column;
}
.mail-cloud-inbox-container14:hover {
  background-color: var(--dl-color-background-background_4);
}
.mail-cloud-inbox-container15 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.mail-cloud-inbox-text06 {
  font-size: 0.8125rem;
  font-weight: 500;
}
.mail-cloud-inbox-text07 {
  color: var(--dl-color-primary-lila);
  font-size: 0.8125rem;
  font-weight: 500;
}
.mail-cloud-inbox-text08 {
  font-size: 0.8125rem;
}
.mail-cloud-inbox-container16 {
  color: var(--dl-color-status-green);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-g5);
  border-color: rgba(31, 177, 109, 0.4);
  border-width: 1px;
  padding-left: var(--dl-space-space-p5);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-p5);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-g5);
  background-color: rgba(31, 177, 109, 0.2);
}
.mail-cloud-inbox-text13 {
  font-size: 0.625rem;
}
.mail-cloud-inbox-container17 {
  gap: var(--dl-space-space-g20);
  width: 100%;
  cursor: pointer;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-p20);
  transition: 0.1s;
  align-items: flex-start;
  flex-direction: column;
}
.mail-cloud-inbox-container17:hover {
  background-color: var(--dl-color-background-background_4);
}
.mail-cloud-inbox-container18 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.mail-cloud-inbox-text14 {
  font-size: 0.8125rem;
  font-weight: 500;
}
.mail-cloud-inbox-text15 {
  color: var(--dl-color-primary-lila);
  font-size: 0.8125rem;
  font-weight: 500;
}
.mail-cloud-inbox-text16 {
  font-size: 0.8125rem;
}
.mail-cloud-inbox-container19 {
  color: var(--dl-color-status-green);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-g5);
  border-color: rgba(31, 177, 109, 0.4);
  border-width: 1px;
  padding-left: var(--dl-space-space-p5);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-p5);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-g5);
  background-color: rgba(31, 177, 109, 0.2);
}
.mail-cloud-inbox-text21 {
  font-size: 0.625rem;
}
.mail-cloud-inbox-container20 {
  gap: var(--dl-space-space-g20);
  width: 100%;
  cursor: pointer;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-p20);
  transition: 0.1s;
  align-items: flex-start;
  flex-direction: column;
}
.mail-cloud-inbox-container20:hover {
  background-color: var(--dl-color-background-background_4);
}
.mail-cloud-inbox-container21 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.mail-cloud-inbox-text22 {
  font-size: 0.8125rem;
  font-weight: 500;
}
.mail-cloud-inbox-text23 {
  color: var(--dl-color-primary-lila);
  font-size: 0.8125rem;
  font-weight: 500;
}
.mail-cloud-inbox-text24 {
  font-size: 0.8125rem;
}
.mail-cloud-inbox-container22 {
  color: var(--dl-color-status-green);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-g5);
  border-color: rgba(31, 177, 109, 0.4);
  border-width: 1px;
  padding-left: var(--dl-space-space-p5);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-p5);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-g5);
  background-color: rgba(31, 177, 109, 0.2);
}
.mail-cloud-inbox-text29 {
  font-size: 0.625rem;
}
.mail-cloud-inbox-container23 {
  gap: var(--dl-space-space-g20);
  width: 100%;
  cursor: pointer;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-p20);
  transition: 0.1s;
  align-items: flex-start;
  flex-direction: column;
}
.mail-cloud-inbox-container23:hover {
  background-color: var(--dl-color-background-background_4);
}
.mail-cloud-inbox-container24 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.mail-cloud-inbox-text30 {
  font-size: 0.8125rem;
  font-weight: 500;
}
.mail-cloud-inbox-text31 {
  color: var(--dl-color-primary-lila);
  font-size: 0.8125rem;
  font-weight: 500;
}
.mail-cloud-inbox-text32 {
  font-size: 0.8125rem;
}
.mail-cloud-inbox-container25 {
  color: var(--dl-color-status-green);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-g5);
  border-color: rgba(31, 177, 109, 0.4);
  border-width: 1px;
  padding-left: var(--dl-space-space-p5);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-p5);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-g5);
  background-color: rgba(31, 177, 109, 0.2);
}
.mail-cloud-inbox-text37 {
  font-size: 0.625rem;
}
.mail-cloud-inbox-container26 {
  gap: var(--dl-space-space-g20);
  width: 100%;
  cursor: pointer;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-p20);
  transition: 0.1s;
  align-items: flex-start;
  flex-direction: column;
}
.mail-cloud-inbox-container26:hover {
  background-color: var(--dl-color-background-background_4);
}
.mail-cloud-inbox-container27 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.mail-cloud-inbox-text38 {
  font-size: 0.8125rem;
  font-weight: 500;
}
.mail-cloud-inbox-text39 {
  color: var(--dl-color-primary-lila);
  font-size: 0.8125rem;
  font-weight: 500;
}
.mail-cloud-inbox-text40 {
  font-size: 0.8125rem;
}
.mail-cloud-inbox-container28 {
  color: var(--dl-color-status-green);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-g5);
  border-color: rgba(31, 177, 109, 0.4);
  border-width: 1px;
  padding-left: var(--dl-space-space-p5);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-p5);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-g5);
  background-color: rgba(31, 177, 109, 0.2);
}
.mail-cloud-inbox-text45 {
  font-size: 0.625rem;
}
.mail-cloud-inbox-container29 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-border-border);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.mail-cloud-inbox-container30 {
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  box-shadow: 0px 3px 3px 0px rgba(212, 212, 212, 0.14);
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
}
.mail-cloud-inbox-text46 {
  color: rgb(18, 38, 63);
  line-height: 16.5px;
}
.mail-cloud-inbox-container31 {
  flex: 1;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
