.mail-cloud-leads-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.mail-cloud-leads-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  background-color: #F1F3F9;
}
.mail-cloud-leads-container02 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
  background-color: #F1F3F9;
}
.mail-cloud-leads-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  border-color: #dae0ea;
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
}
.mail-cloud-leads-container04 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mail-cloud-leads-text {
  font-size: 0.625rem;
}
.mail-cloud-leads-text01 {
  font-size: 0.625rem;
}
.mail-cloud-leads-container05 {
  flex: 0 0 auto;
  width: 200px;
  height: 33px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-border-border);
  border-width: 1px;
  padding-left: var(--dl-space-space-p20);
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.mail-cloud-leads-text02 {
  color: var(--dl-color-primary-text-hell);
  font-size: 12px;
}
.mail-cloud-leads-container06 {
  gap: 30px;
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-p20);
  overflow: scroll;
  align-items: flex-start;
  flex-direction: column;
}
.mail-cloud-leads-container07 {
  gap: var(--dl-space-space-g15);
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.mail-cloud-leads-container08 {
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  box-shadow: 3px 3px 3px 0px rgba(212, 212, 212, 0.14);
  align-items: flex-start;
  border-color: var(--dl-color-border-border);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.mail-cloud-leads-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  box-shadow: 0px 3px 3px 0px rgba(212, 212, 212, 0.14);
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  justify-content: space-between;
}
.mail-cloud-leads-text03 {
  color: rgb(18, 38, 63);
  line-height: 16.5px;
}
.mail-cloud-leads-container10 {
  gap: var(--dl-space-space-g10);
  display: flex;
  align-items: center;
}
.mail-cloud-leads-container11 {
  fill: rgba(18, 38, 63, 0.6);
  color: var(--dl-color-gray-white);
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  border-color: var(--dl-color-border-border);
  border-width: 1px;
  padding-left: 0.5rem;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.mail-cloud-leads-icon {
  width: 15px;
  height: 15px;
}
.mail-cloud-leads-container12 {
  gap: var(--dl-space-space-g5);
  display: flex;
  align-items: center;
}
.mail-cloud-leads-text04 {
  font-size: 12px;
}
.mail-cloud-leads-text05 {
  font-size: 12px;
}
.mail-cloud-leads-text06 {
  font-size: 12px;
}
.mail-cloud-leads-container13 {
  fill: rgba(18, 38, 63, 0.6);
  color: var(--dl-color-gray-white);
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  border-color: var(--dl-color-border-border);
  border-width: 1px;
  padding-left: 0.5rem;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.mail-cloud-leads-icon2 {
  width: 15px;
  height: 15px;
}
.mail-cloud-leads-container14 {
  flex: 1;
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.mail-cloud-leads-container15 {
  gap: var(--dl-space-space-g10);
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  box-shadow: 3px 3px 3px 0px rgba(212, 212, 212, 0.14);
  align-items: flex-start;
  border-color: var(--dl-color-border-border);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.mail-cloud-leads-container16 {
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  box-shadow: 0px 3px 3px 0px rgba(212, 212, 212, 0.14);
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
}
.mail-cloud-leads-text07 {
  color: rgb(18, 38, 63);
  line-height: 16.5px;
}
.mail-cloud-leads-container17 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.mail-cloud-leads-container18 {
  flex: 0 0 auto;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  justify-content: space-between;
}
.mail-cloud-leads-text08 {
  color: var(--dl-color-primary-text-hell);
  font-size: 12px;
}
.mail-cloud-leads-text09 {
  color: var(--dl-color-primary-lila);
  font-size: 12px;
  font-weight: 500;
}
.mail-cloud-leads-container19 {
  flex: 0 0 auto;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  justify-content: space-between;
}
.mail-cloud-leads-text10 {
  color: var(--dl-color-primary-text-hell);
  font-size: 12px;
}
.mail-cloud-leads-text11 {
  color: var(--dl-color-primary-lila);
  font-size: 12px;
  font-weight: 500;
}
.mail-cloud-leads-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  justify-content: space-between;
}
.mail-cloud-leads-text12 {
  color: var(--dl-color-primary-text-hell);
  font-size: 12px;
}
.mail-cloud-leads-text13 {
  color: var(--dl-color-primary-lila);
  font-size: 12px;
  font-weight: 500;
}
.mail-cloud-leads-container21 {
  flex: 0 0 auto;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  justify-content: space-between;
}
.mail-cloud-leads-text14 {
  color: var(--dl-color-primary-text-hell);
  font-size: 12px;
}
.mail-cloud-leads-container22 {
  gap: var(--dl-space-space-g5);
  display: flex;
  align-items: center;
}
.mail-cloud-leads-text15 {
  color: var(--dl-color-primary-lila);
  font-size: 12px;
  font-weight: 500;
}
.mail-cloud-leads-container23 {
  flex: 0 0 auto;
  width: 1px;
  height: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-border-border);
}
.mail-cloud-leads-text16 {
  font-size: 12px;
}
.mail-cloud-leads-container24 {
  flex: 0 0 auto;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  justify-content: space-between;
}
.mail-cloud-leads-text17 {
  color: var(--dl-color-primary-text-hell);
  font-size: 12px;
}
.mail-cloud-leads-text18 {
  color: var(--dl-color-primary-lila);
  font-size: 12px;
  font-weight: 500;
}
.mail-cloud-leads-container25 {
  gap: var(--dl-space-space-g20);
  flex: 1;
  width: 100%;
  height: 280px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.mail-cloud-leads-container26 {
  flex: 1;
  height: 100%;
  display: flex;
  overflow: hidden;
  box-shadow: 3px 3px 3px 0px rgba(212, 212, 212, 0.14);
  align-items: flex-start;
  border-color: var(--dl-color-border-border);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.mail-cloud-leads-container27 {
  gap: var(--dl-space-space-g20);
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
}
.mail-cloud-leads-text19 {
  color: rgb(18, 38, 63);
  line-height: 16.5px;
}
.mail-cloud-leads-container28 {
  flex: 0 0 auto;
  width: 256px;
  height: 33px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-border-border);
  border-width: 1px;
  padding-left: var(--dl-space-space-p20);
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.mail-cloud-leads-text20 {
  color: var(--dl-color-primary-text-hell);
  font-size: 12px;
}
.mail-cloud-leads-container29 {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.mail-cloud-leads-container30 {
  flex: 0 0 auto;
  width: 100%;
  height: 45px;
  display: flex;
  box-shadow: 0px 3px 3px 0px rgba(212, 212, 212, 0.14);
  align-items: flex-start;
  padding-top: var(--dl-space-space-p10);
  padding-bottom: var(--dl-space-space-p10);
  background-color: #F9FBFD;
}
.mail-cloud-leads-container31 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-p20);
  flex-direction: column;
  justify-content: center;
}
.mail-cloud-leads-text21 {
  color: var(--dl-color-primary-text-hell);
  font-size: 0.625rem;
}
.mail-cloud-leads-container32 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-p20);
  flex-direction: column;
  justify-content: center;
}
.mail-cloud-leads-text22 {
  color: var(--dl-color-primary-text-hell);
  font-size: 0.625rem;
}
.mail-cloud-leads-container33 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-p20);
  flex-direction: column;
  justify-content: center;
}
.mail-cloud-leads-text23 {
  color: var(--dl-color-primary-text-hell);
  font-size: 0.625rem;
}
.mail-cloud-leads-container34 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-p20);
  flex-direction: column;
  justify-content: center;
}
.mail-cloud-leads-text24 {
  color: var(--dl-color-primary-text-hell);
  font-size: 0.625rem;
}
.mail-cloud-leads-container35 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-p20);
  flex-direction: column;
  justify-content: center;
}
.mail-cloud-leads-text25 {
  color: var(--dl-color-primary-text-hell);
  font-size: 0.625rem;
}
.mail-cloud-leads-container36 {
  width: 100%;
  display: flex;
  overflow: scroll;
  align-items: flex-start;
  flex-direction: column;
}
.mail-cloud-leads-container37 {
  flex: 0 0 auto;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-p10);
  padding-bottom: var(--dl-space-space-p10);
}
.mail-cloud-leads-container38 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-p20);
  flex-direction: column;
  justify-content: center;
}
.mail-cloud-leads-text26 {
  font-size: 0.8125rem;
  font-weight: 500;
}
.mail-cloud-leads-container39 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-p20);
  flex-direction: column;
  justify-content: center;
}
.mail-cloud-leads-text27 {
  font-size: 0.8125rem;
}
.mail-cloud-leads-container40 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-p20);
  flex-direction: column;
  justify-content: center;
}
.mail-cloud-leads-text28 {
  font-size: 0.8125rem;
}
.mail-cloud-leads-container41 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-p20);
  flex-direction: column;
  justify-content: center;
}
.mail-cloud-leads-text29 {
  font-size: 0.8125rem;
}
.mail-cloud-leads-container42 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-p20);
  flex-direction: column;
  justify-content: center;
}
.mail-cloud-leads-text30 {
  font-size: 0.8125rem;
}
