.menu-component-menu-component {
  flex: 0 0 auto;
  color: var(--dl-color-primary-text);
  width: 250px;
  height: 100%;
  display: flex;
  z-index: 100;
  position: relative;
  box-shadow: 0px 5px 10px 0px #d8d8d8;
  align-items: flex-start;
  padding-top: var(--dl-space-space-p20);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
  border-top-left-radius: 0;
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.menu-component-container {
  gap: var(--dl-space-space-g20);
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(209, 221, 242, 0.2);
  padding-left: var(--dl-space-space-p15);
  padding-right: var(--dl-space-space-p15);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-p20);
}
.menu-component-container01 {
  gap: var(--dl-space-space-g5);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.menu-component-container02 {
  width: 132px;
  height: 37px;
  display: none;
  overflow: hidden;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
}
.menu-component-image {
  width: 150px;
  height: 40px;
  object-fit: cover;
}
.menu-component-container03 {
  width: 100px;
  height: 26px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
}
.menu-component-image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu-component-container04 {
  gap: var(--dl-space-space-g10);
  fill: var(--dl-color-primary-text);
  flex: 0 0 auto;
  color: var(--dl-color-primary-text);
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-border-border);
  border-width: 1px;
  padding-left: var(--dl-space-space-p10);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-p10);
  background-color: var(--dl-color-background-background_4);
}
.menu-component-icon {
  width: 15px;
  height: 15px;
}
.menu-component-text {
  font-size: 10px;
}
.menu-component-container05 {
  gap: var(--dl-space-space-g10);
  fill: var(--dl-color-primary-text);
  flex: 1;
  width: 100%;
  display: flex;
  padding-top: var(--dl-space-space-g15);
  padding-left: var(--dl-space-space-p15);
  padding-right: var(--dl-space-space-p15);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-g15);
}
.menu-component-container06 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.menu-component-container07 {
  flex: 0 0 auto;
  width: 100%;
  cursor: pointer;
  height: 35px;
  display: flex;
  transition: 0.1s;
  align-items: center;
  padding-left: var(--dl-space-space-p10);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-p10);
  justify-content: space-between;
}
.menu-component-container07:hover {
  fill: var(--dl-color-primary-text);
  color: var(--dl-color-primary-text);
  background-color: rgba(255, 255, 255, 0.05);
}
.menu-component-container08 {
  gap: var(--dl-space-space-g10);
  display: flex;
  align-items: center;
}
.menu-component-container09 {
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
}
.menu-component-container10 {
  gap: var(--dl-space-space-g10);
  width: 100%;
  height: 170px;
  display: flex;
  font-size: 12px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-p10);
  padding-right: var(--dl-space-space-p10);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-p20);
}
.menu-component-container11 {
  width: 18px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.menu-component-container12 {
  flex: 0 0 auto;
  width: 1px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  background-color: var(--dl-color-border-border);
}
.menu-component-container13 {
  gap: var(--dl-space-space-g10);
  flex: 1;
  width: 138px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.menu-component-navlink {
  display: contents;
}
.menu-component-container14 {
  color: rgba(18, 38, 63, 0.6);
  width: 100%;
  cursor: pointer;
  height: 30px;
  display: flex;
  transition: 0.1s;
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.menu-component-container14:hover {
  color: var(--dl-color-primary-text);
  background-color: rgba(255, 255, 255, 0.05);
}
.menu-component-navlink1 {
  display: contents;
}
.menu-component-container15 {
  color: rgba(18, 38, 63, 0.6);
  width: 100%;
  cursor: pointer;
  height: 30px;
  display: flex;
  transition: 0.1s;
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.menu-component-container15:hover {
  color: var(--dl-color-primary-text);
  background-color: rgba(255, 255, 255, 0.05);
}
.menu-component-container16 {
  color: rgba(18, 38, 63, 0.6);
  width: 100%;
  cursor: pointer;
  height: 30px;
  display: none;
  transition: 0.1s;
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  border-radius: var(--dl-radius-radius-radius4);
}
.menu-component-container16:hover {
  color: var(--dl-color-primary-text);
  background-color: rgba(255, 255, 255, 0.05);
}
.menu-component-navlink2 {
  display: contents;
}
.menu-component-container17 {
  color: rgba(18, 38, 63, 0.6);
  width: 100%;
  cursor: pointer;
  height: 30px;
  display: flex;
  transition: 0.1s;
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.menu-component-container17:hover {
  color: var(--dl-color-primary-text);
  background-color: rgba(255, 255, 255, 0.05);
}
.menu-component-navlink3 {
  display: contents;
}
.menu-component-container18 {
  color: rgba(18, 38, 63, 0.6);
  width: 100%;
  cursor: pointer;
  height: 30px;
  display: flex;
  transition: 0.1s;
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.menu-component-container18:hover {
  color: var(--dl-color-primary-text);
  background-color: rgba(255, 255, 255, 0.05);
}
.menu-component-container19 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.menu-component-container20 {
  fill: rgba(18, 38, 63, 0.6);
  flex: 0 0 auto;
  color: rgba(18, 38, 63, 0.6);
  width: 100%;
  cursor: pointer;
  height: 35px;
  display: flex;
  transition: 0.1s;
  align-items: center;
  padding-left: var(--dl-space-space-p10);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-p10);
  justify-content: space-between;
}
.menu-component-container20:hover {
  fill: var(--dl-color-primary-text);
  color: var(--dl-color-primary-text);
  background-color: rgba(255, 255, 255, 0.05);
}
.menu-component-container21 {
  gap: var(--dl-space-space-g10);
  display: flex;
  align-items: center;
}
.menu-component-container22 {
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
}
.menu-component-container23 {
  flex: 0 0 auto;
  width: 100%;
  height: 160px;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-p10);
  padding-right: var(--dl-space-space-p10);
  flex-direction: row;
}
.menu-component-container24 {
  width: 18px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.menu-component-container25 {
  flex: 0 0 auto;
  width: 1px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  background-color: var(--dl-color-border-border);
}
.menu-component-container26 {
  flex: 1;
  width: 138px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.menu-component-container27 {
  color: rgba(18, 38, 63, 0.6);
  width: 100%;
  cursor: pointer;
  height: 30px;
  display: flex;
  transition: 0.1s;
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  border-radius: var(--dl-radius-radius-radius4);
}
.menu-component-container27:hover {
  color: var(--dl-color-primary-text);
  background-color: rgba(255, 255, 255, 0.05);
}
.menu-component-container28 {
  color: rgba(18, 38, 63, 0.6);
  width: 100%;
  cursor: pointer;
  height: 30px;
  display: flex;
  transition: 0.1s;
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  border-radius: var(--dl-radius-radius-radius4);
}
.menu-component-container28:hover {
  color: var(--dl-color-primary-text);
  background-color: rgba(255, 255, 255, 0.05);
}
.menu-component-container29 {
  color: rgba(18, 38, 63, 0.6);
  width: 100%;
  cursor: pointer;
  height: 30px;
  display: flex;
  transition: 0.1s;
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  border-radius: var(--dl-radius-radius-radius4);
}
.menu-component-container29:hover {
  color: var(--dl-color-primary-text);
  background-color: rgba(255, 255, 255, 0.05);
}
.menu-component-container30 {
  color: rgba(18, 38, 63, 0.6);
  width: 100%;
  cursor: pointer;
  height: 30px;
  display: flex;
  transition: 0.1s;
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  border-radius: var(--dl-radius-radius-radius4);
}
.menu-component-container30:hover {
  color: var(--dl-color-primary-text);
  background-color: rgba(255, 255, 255, 0.05);
}
.menu-component-container31 {
  color: rgba(18, 38, 63, 0.6);
  width: 100%;
  cursor: pointer;
  height: 30px;
  display: flex;
  transition: 0.1s;
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  border-radius: var(--dl-radius-radius-radius4);
}
.menu-component-container31:hover {
  color: var(--dl-color-primary-text);
  background-color: rgba(255, 255, 255, 0.05);
}
.menu-component-container32 {
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-p15);
  padding-right: var(--dl-space-space-p15);
  justify-content: center;
}
.menu-component-container33 {
  color: rgba(18, 38, 63, 0.6);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  border-color: var(--dl-color-border-border);
  border-width: 1px;
  padding-left: 0.75rem;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  justify-content: center;
}
