@tailwind base;
@tailwind components;
@tailwind utilities;
 
 
 :root {
  --dl-space-space-g5: 5px;
  --dl-space-space-p5: 5px;
  --dl-space-space-g10: 10px;
  --dl-space-space-g15: 15px;
  --dl-space-space-g20: 20px;
  --dl-space-space-p10: 10px;
  --dl-space-space-p15: 15px;
  --dl-space-space-p20: 20px;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-color-status-red: #981826ff;
  --dl-color-primary-lila: #6840a5ff;
  --dl-color-primary-text: #12263fff;
  --dl-color-status-green: #1fb16dff;
  --dl-color-border-border: #edf2f9ff;
  --dl-radius-radius-round: 50%;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-color-primary-text-hell: #95aac9ff;
  --dl-color-background-background_1: #ebf1ffff;
  --dl-color-background-background_2: #fdfaffff;
  --dl-color-background-background_3: #242b55ff;
  --dl-color-background-background_4: #f1f3f9ff;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.border_bottom {
  border-color: var(--dl-color-border-border);
  border-bottom-width: 1px;
}
.border_top {
  border-color: var(--dl-color-border-border);
  border-top-width: 1px;
}
.border_right {
  border-color: var(--dl-color-border-border);
  border-right-width: 1px;
}
.opacity_06 {
  opacity: 0.6;
}
.icon_18 {
  width: 18px;
  height: 18px;
}
.icon_15 {
  width: 15px;
  height: 15px;
}
.shadow-center {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.box-shadow {
  box-shadow: 3px 3px 3px 0px rgba(212, 212, 212, 0.14);
}
.box-shadow-botton {
  box-shadow: 0px 3px 3px 0px rgba(212, 212, 212, 0.14);
}
.linear-gradient {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  background-image: linear-gradient(35deg, rgba(104,64,165,1) 0%, rgba(148,84,224,1) 39%, rgba(204,56,207,1) 100%);
}
.Content_2 {
  font-size: 10px;
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-transform: none;
  text-decoration: none;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Content {
  font-size: 0.9375rem;
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-transform: none;
  text-decoration: none;
}
